<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
</head>
<body>
<header class="hero">
  <div class="hero-body">
    <div class="container">
     {% block header %}{% endblock %} 
    </div>
  </div>
</header>
<section class="section">
  <div class="container">
    <section id="primary-content" class="content">
      {% block content %} Nothing to see here {% endblock %}
    </section>
  </div>
</section>
<footer class="footer">
  <p class="has-text-centered">
    <a href="https://twitter.com/LatnBlack">Twitter</a>
  </p>
  <p class="has-text-centered">
    <a href="https://latnblack.com">About me</a>
  </p>
  {% block foot %}
  {% endblock%}
</footer>
</body>
</html>
