<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
</head>
<body>
<article>
  <section class="section">
    <div class="container">
      <div class="heading">
        {% block heading %}<em>Untitled</em>{% endblock %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div id="primary-content" class="content">
        {% block content %} Nothing to see here {% endblock %}
      </div>
    </div>
  </section>
</article>
<footer class="footer">
  <p class="has-text-centered">
    <a href="https://twitter.com/LatnBlack">Twitter</a>
  </p>
  <p class="has-text-centered">
    <a href="https://latnblack.com">About me</a>
  </p>
  {% block foot %}
  {% endblock%}
</footer>
</body>
</html>
